<tr>
  <td id="user_avatar">
    <%= link_to_user_image chatter.user %><br/>
    <%= link_to_user_name chatter.user %>
  </td>
  <td id="chatter">
    <span id="chatter_photo">
      <%= image_tag(chatter.chatter_photo_small) if chatter.chatter_photo_small.present? %>
    </span>
    <span id="chatter_content"><%= chatter.content %></span>
    <span id="timestamp">
      Posted <%= time_ago_in_words(chatter.created_at) %> ago.
    </span>
  </td>
</tr>
