<% comment = Chatter.new %>
<%= form_for comment, :url => chatter_comments_path(topic),
                      :html => { :class => "form_toggle" } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div id="user_avatar" class="form_toggle_visible">
    <%#= link_to_user_image_small current_user %>
  </div>
  <div id="new_comment" class="form_toggle_content">
    <%#= f.label :content, "Write your comment ..." %>
    <%= f.text_area :content, :class => "limit_size expand40-400 round_sharp",
                              :max_height => 200, :limit_size => 500,
                              :placeholder => "Write your comment ..." %>
  </div>
  <div id="comment_action" class="form_toggle_visible clearfix">
    <%= form_cancel_button(f, "Clear", :discard,
                           :remote => true, :class => "left form_toggle_enable") %>
    <%= f.submit "Comment", :name => :post, :class => "right form_toggle_enable" %>
  </div>
<% end %>
