<% topic = Chatter.new %>
<%= form_for topic, :url => meet_chatters_path(@meet),
                    :html => { :multipart => true, :class => "form_toggle", } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div id="user_avatar" class="form_toggle_visible">
    <%#= link_to_user_image_small current_user %>
  </div>
  <div id="new_topic" class="form_toggle_content">
    <%#= f.label :content, "Share your thoughts ..." %>
    <%= f.text_area :content, :class => "limit_size expand60-400 round_sharp",
                              :max_height => 200, :limit_size => 500,
                              :placeholder => "Share your thoughts ..." %>
  </div>
  <div id="topic_action" class="form_toggle_content clearfix">
    <div id="photo_uploader" title="Upload picture">
      <%= f.file_field :photo %>
      <span id="title"> Upload picture <span>
    </div>
  </div>
  <div id="topic_action" class="form_toggle_visible clearfix">
    <%= form_cancel_button(f, "Clear", :discard,
                           :remote => true, :class => "left form_toggle_enable") %>
    <%= f.submit "Post", :name => :post, :class => "right form_toggle_enable" %>
  </div>
<% end %>
