<li id="chatter_topic" class="dot_seperator">
  <div class="hover_visibility_toggle" hover_visibility_toggle="hover_visibility_id=>chatter_<%= topic.id %>" >
  <div id="chatter_content">
    <span id="user_avatar"> <%= link_to_user_image topic.user %> </span>
    <span id="user_name"> <%= link_to_user_name topic.user %> </span> :
    <span id="chatter_content_body"> <%= auto_link(topic.content) %> </span>
  </div>
  <div id="chatter_photo">
    <%= image_tag(topic.chatter_photo) if topic.chatter_photo.present? %>
  </div>
  <div id="chatter_meta">
    <div id="chatter_statistic">
      <span id="timestamp"><%= time_ago_in_words(topic.created_at) %> ago.</span>
      #C <%= topic.comments_count %>
    </div>
    <div id="chatter_action" class="right clear_right">
      <% if current_user?(topic.user) || admin_user? %>
        <%= button_to "X", topic, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete this comment",
                                  :id => "chatter_#{topic.id}",
                                  :class => "mini_button hover_visibility_visible hover_faint" %>
      <% end %>
    </div>
  </div>
  </div>
  <ul id="chatter_comments">
    <li id="new_comment">
      <%= render :partial => 'chatters/comment_form', :locals => { :topic => topic } %>
    </li>
    <%= render :partial => 'chatters/comment', :collection => topic.comments, :as => :comment %>
  </ul>
</li>
