<tr class="meet_summary_pending hover_highlight hover_visibility_toggle hover_display_toggle"
  hover_display_toggle="hover_display_id=>pending_meet_#{meet.id},container_class=>pending_meet_detail_container">
  <%= meet_summary_pending %>
  <td class="meet_inviter">
    <% if meet.meet_inviter.present? %>
      I
      <div class="user_avatar">
        <%= link_to_user_image_small meet.meet_inviter %>
      </div>
      <div class="user_name">
        <%= link_to_user_name meet.meet_inviter %>
      <div>
    <% end %>
  </td>
  <td class="actions">
    <%= button_to "Confirm", confirm_meets_path(meet), :method => :post,
                           :title => "Confirm this invitation" %>
  </td>
  <td class="actions hover_visiblity_visible hover_faint x_button">
    <%= button_to "X", decline_meets_path(meet), :method => :delete,
                      :title => "Decline this invitation", :class => "x_button" %>
  </td>
</tr>
