<% content_for :main_content do %>
  <h3> Your friends </h3>
  <%= will_paginate @friends if @friends.class == WillPaginate::Collection %>
  <table id="friends" summary="Meet friends">
    <%= render :partial => 'users/user_long', :collection => @friends, :as => :user %>
  </table>
  <%= will_paginate @friends if @friends.class == WillPaginate::Collection %>
<% end %>

<% content_for :side_content do %>
  <%= render 'users/user_summary' %>
<% end %>

<%= render 'shared/main_side' %>
