<div class="main meets">
  <h3> Your recent meets </h3>
  <%= link_to "Show on map", map_user_path_of_type(@user, params[:meet_type]) if @meets.present? %>
  <%= will_paginate @meets, :params => {:meet_type=>params[:meet_type]} if @meets.class == WillPaginate::Collection %>
  <table class="meets" summary="User meets">
    <%= render :partial => 'meets/meet_long', :collection => @meets, :as => :meet %>
  </table>
  <%= will_paginate @meets, :params => {:meet_type=>params[:meet_type]} if @meets.class == WillPaginate::Collection %>
</div>

<%= render 'user_summary' %>
