<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%#= gravatar_for @user %>
        <%= image_tag @user.photo.url(:normal) %>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <% if @user.microposts.any? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
      
      <% if @user.mposts.any? %>
        <table class="mposts" summary="User mobileposts">
          <%= render @mposts %>
        </table>
        <%= will_paginate @mposts %>
      <% end %>

    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
      <strong>Microposts</strong> <%= @user.microposts.count %><br />
      <strong>Mobileposts</strong> <%= @user.mposts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>

