<tr>
  <td class="avatar">
    <%= link_to image_tag(meet_feed_item.users[0].photo.url(:normal)), meet_feed_item.users[0] %>
  </td>
  <td class="meet">
    <span class="user">
      <%= link_to meet_feed_item.users[0].name, meet_feed_item.users[0] %>
    </span>
    <span class="content"><%= meet_feed_item.description %></span><br />
    <span class="timestamp">
      Posted <%= time_ago_in_words(meet_feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(meet_feed_item.users[0]) %>
    <td>
      <%= link_to image_tag("blue_arrow.jpg"), meet_feed_item, :method => :show,
                                       :title => meet_feed_item.description %>
    </td>
  <% end %>
</tr>
