<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Who have you met?</h1>
        <%#= render 'shared/micropost_form' %>
        <%= render 'shared/meet_feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%#= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

      <section>
        <div id="content">
          <div id="quotPan">
            <%= form_for(:session, :url => sessions_path) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.text_field :email %>
              </div>
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password %>
              </div>
              <div class="actions">
                <%= f.submit "Sign in" %>
              </div>
            <% end %>
            <div id="signupbtn">
              <h3><span>New to</span> kaya ?</h3>
              <%= link_to "Sign up now!", signup_path %>
            </div>
          </div>
          <div id="latest">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </section>

<% end %>
