<% content_for :main_content do %>
  <% if @meet %>
    <h1>Add your friends to this meet</h1>
    <%= render 'invitation_form' %>
  <% else %>
    <h1>Invite your friends</h1>
    <%= render 'invitation_form' %>
  <% end %>
<% end %>

<% content_for :side_content do %>
<% end %>
<% content_for :side_content do %>
  <% if @meet %>
    <div id="meet_summary" class="raise">
      <%= render 'meets/header' %>
    </div>
    <div id="meet_friends">
      <%= render 'meets/meet_friends' %>
    </div>
  <% else %>
    <%= render 'users/user_summary' %>
  <% end %>
<% end %>

<%= render 'shared/main_side' %>
