<% meet_map = true if !defined?(meet_map) %>
<% if @meet && @meet.id %>
  <div id="meet_summary_header" class="hover_visibility_toggle">
    <%= height_holder(120) %>
    <%= meet_summary_brief @meet %>
    <% if meet_map %>
      <div id='meet_static_map'>
        <%=link_to_meet_static_map @meet %>
      </div>
    <% end %>
    <div id="meet_action">
      <%= button_to "X", meet_path(@meet), :method => :delete, :confirm => "You sure?",
                            :title => "Delete this meet",
                            :class => "mini_button hover_visibility_visible hover_faint",
                            :id => "meet_delete_button"%>
      <%= button_to "E", edit_meet_path(@meet), :title => "Edit this meet", :method => :get,
                            :class => "mini_button hover_visibility_visible hover_faint",
                            :id => "meet_edit_button"%><br>
    </div>
  </div>
<% end %>
