<% long_format = false if !defined?(long_format) %>
<tr id="meet_list" class="hover_visibility_toggle hover_highlight force_clickable",
  force_clickable="<%= %Q{url=>#{meet_path(meet)}}%>", title="Meet detail">
  <td id="meet_list_delete">
    <%= button_to "X", meet, :method => :delete, :confirm => "You sure?",
                             :title => "Delete this meet",
                             :class => "mini_button hover_visibility_visible hover_faint",
                             :id => "meet_delete_button" %>
  </td>
  <td id="meet_avatar">
    <div class="nod_left">
      <%= link_to_meet_image meet, !long_format %>
    </div>
  </td>
  <td id="meet_summary_body">
    <%= meet_summary_list meet, false %>
  </td>
  <% if long_format %>
    <td id="meet_static_map">
      <%=link_to_meet_static_map_small meet %>
      <div id="meet_address"> <%= link_to_meet_address(meet) %> </div>
    </td>
    <td id="meet_list_chatter">
      <%= latest_chatters_brief meet %>
    </td>
  <% else %>
    <td id="meet_list_detail" class="hover_visibility_visible hover_faint">
      <%#= link_to_meet_detail meet %>
    </td>
  <% end %>
  <td id="meet_list_action">
    <%= link_to_meet_detail_arrow meet %>
  </td>
</tr>
