<div class="hover_display_visible" id="<%= "pending_meet_#{meet.id}" %>">
<div id="pending_meet_detail">
  <div id="inviter_summary">
    <%= render :partial => 'users/header', :locals => {:user => meet.meet_inviter} %>
  </div>
  <div id="invitation_message">
    <%= meet.meet_invitation_message %>
  </div>

  <div id="other_inviters">
    <% other_inviters = meet.meet_other_inviters %>
    <% if other_inviters.present? %>
      Also invited by <%= other_inviters.size %> other friends
      <% other_inviters.slice(0..9).each {|inviter| %>
        <div id="inviter_summary">
          <%= render :partial => 'users/header', :locals => {:user => inviter} %>
        </div>
      <% } %>
    <% end %>
  </div>
</div>
</div>
