<% content_for :main_content do %>
  <%= link_to "Show on map", map_meet_path(@meet) if !@meet.lat_lng.blank? %>
  <%= will_paginate @topics, :param_name => "chatters_page" if @topics.class==WillPaginate::Collection %>
  <ul id="chatters">
    <li id="new_topic" class="dot_seperator">
      <%= render 'chatters/topic_form' %>
    </li>
    <%= render :partial => 'chatters/topic', :collection => @topics, :as => :topic %>
  </ul>
  <%= will_paginate @topics, :param_name => "chatters_page" if @topics.class==WillPaginate::Collection %>
<% end %>

<% content_for :side_content do %>
  <div id="meet_summary" class="raise">
    <%= render 'meets/header' %>
  </div>
  <div id="meet_friends">
    <%= render 'meets/meet_friends' %>
  </div>
<% end %>

<%= render 'shared/main_side' %>
