<footer id="footer_banner">
<div class="clearfix container">
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li class="space">|</li>
      <li><%= link_to "About", about_path %></li>
      <li class="space">|</li>
      <li><%= link_to "Learn More", 'http://www.facebook.com/pages/The-K-Page-DEV-DEV/163415170354577?v=app_2373072738&ref=ts#!/pages/The-K-Page-DEV-DEV/163415170354577?v=wall' %></li>
      <li class="space">|</li>
      <li><%= link_to "Contact", contact_path %></li>
      <li class="space">|</li>
      <li><%= link_to "Terms", contact_path %></li>
      <li class="space">|</li>
      <li><%= link_to "Privacy", contact_path %></li>
    </ul>
    © Kaya Labs, Inc. 2011
  </nav>
</div>
</footer>
