<header>
  <nav class="round">
  <ul class="jsddm">
    <% if signed_in? %>
      <li><%#= link_to "Home", current_user %></li>
      <li><%= link_to "Meets", meets_user_path(current_user) %><ul>
        <li><%= link_to "Solo", meets_user_path_of_type(current_user, 1) %></li>
        <li><%= link_to "Private", meets_user_path_of_type(current_user, 2) %></li>
        <li><%= link_to "Group", meets_user_path_of_type(current_user, 3) %></li>
      </ul></li>
      <li><%= link_to "Friends", friends_user_path(current_user) %></li>
      <li><%#= link_to "Comments", comments_user_path(current_user) %></li>
      <li><%= link_to "Map", map_user_path(current_user) %><ul>
        <li><%= link_to "Solo", map_user_path_of_type(current_user, 1) %></li>
        <li><%= link_to "Private", map_user_path_of_type(current_user, 2) %></li>
        <li><%= link_to "Group", map_user_path_of_type(current_user, 3) %></li>
      </ul></li>
      <li><%= image_tag(current_user.user_avatar_small) %><%= current_user.name_or_email %><ul>
        <li>
         <%= link_to_user_image_small current_user %>
         <%= link_to_user_name current_user, false %>
        </li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign out", signout_path %></li>
      </ul></li>
    <% else %>
      <li><%= link_to "Help", help_path %></li>
    <% end %>
  </ul>
  </nav>
</header>
